.text {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  letter-spacing: -0.028rem;
}

.text a {
  color: #21232d;
  font-weight: 600;
  text-decoration: underline;
  letter-spacing: -0.028rem;
}
