.container {
  margin-top: 3.2rem;
  margin-bottom: 2.4rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  column-gap: 0.8rem;
}

.line {
  height: 1px;
  background-color: #b0b8d6;
  width: 100%;
}

.text {
  font-size: 1.2rem;
  color: rgba(80, 85, 109, 0.5);
  font-weight: 400;
}
