@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #007bff;
  --primary-foreground: #ffffff;
  --accent: #17a2b8;
  --accent-foreground: #ffffff;
  --text-muted-foreground: #6c757d;
  --text-primary: #212529;
  --text-secondary: #495057;
  --text-popover-foreground: #495057;
  --background: #f8f9fa;
  --border-color: #dee2e6;
  --bg-popover: #ffffff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-manrope), sans-serif;
  background-color: #e4eaff;
  max-width: 100vw;
}

body[data-scroll="locked"] {
  margin-right: 0 !important;
}

.notFoundContainer {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.notFoundHeading {
  font-size: 3.2rem;
  line-height: 1.3;
}

.layout-container {
  margin: 0 auto;
  max-width: 120rem;
  min-height: 100vh;
}

@layer base {
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
