.newsCard {
  width: 100%;
  /* background: linear-gradient(169deg, #f0f3ff 5.01%, #e4eaff 95.66%); */
  overflow: hidden;
  box-shadow: 0px 133px 37px 0px rgba(171, 176, 196, 0),
    0px 85px 34px 0px rgba(171, 176, 196, 0.01),
    0px 48px 29px 0px rgba(171, 176, 196, 0.05),
    0px 21px 21px 0px rgba(171, 176, 196, 0.09),
    0px 5px 12px 0px rgba(171, 176, 196, 0.1);
  border-radius: 1.6rem;
  border: double 2px transparent;
  background-image: linear-gradient(169deg, #f0f3ff 5.01%, #e4eaff 95.66%),
    linear-gradient(0deg, rgba(37, 99, 235, 0.5) 0%, rgba(37, 99, 235, 0) 50%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.newsImageWrapper {
  position: relative;
  width: 100%;
  padding-top: 79.768%;
  overflow: hidden;
}

.pictureWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.newsImage {
  object-fit: cover;
}

.newsCardContent {
  padding: 1.2rem 1.6rem 1.6rem;
}

.newsTitle {
  font-size: 1.8rem;
  color: #21232d;
  margin-bottom: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.newsParagraph {
  font-size: 1.4rem;
  color: #50556d;
  line-height: 1.6;
  margin-bottom: 2.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.newsCardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 78rem) {
  .newsCard {
    background-image: linear-gradient(169deg, #f0f3ff 5.01%, #e4eaff 95.66%),
      linear-gradient(
        270deg,
        rgba(37, 99, 235, 0.5) 0%,
        rgba(37, 99, 235, 0) 60%
      );
    width: 58.8rem;
    display: flex;
  }

  .newsImageWrapper {
    position: relative;
    flex-shrink: 0;
    width: 24rem;
    padding-top: 0;
    height: 34rem;
  }

  .newsImage {
    width: 24rem;
    height: 34rem;
  }

  .newsCardContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2.4rem 2.4rem 2.4rem 1.6rem;
  }

  .newsTitle {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
    line-height: 1.3;
    letter-spacing: -0.056rem;
  }

  .newsParagraph {
    font-size: 1.6rem;
    margin-bottom: 0;
  }

  .newsCardFooter {
    width: 100%;
    margin-top: auto;
  }
}
