.branchInfoItem {
  display: flex;
  justify-content: space-between;
  align-item: center;
  width: 100%;
}

.branchText {
  font-size: 1.6rem;
  letter-spacing: -0.032rem;
  line-height: 1.6rem;
}

.branchAddressList {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

@media screen and (min-width: 46.5rem) {
  .branchInfoItem {
    flex-direction: column;
    gap: 0.2rem;
    align-item: flex-start;
  }
}
