.branchOfferContainer {
  margin-bottom: 4.8rem;
}

.branchOfferHeading {
  margin-bottom: 1.2rem;
}

.branchOfferList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.branchOfferList li {
  color: #50556d;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.032rem;
}

.branchOfferList a {
  color: #1e40af;
  font-weight: 600;
  text-decoration: underline;
}

.divider3 {
  display: none;
}

@media screen and (min-width: 46.5rem) {
  .branchOfferContainer {
    margin-left: 2.4rem;
    grid-column: 5 / -1;
    grid-row: 2;
    margin-bottom: 3.2rem;
    max-height: 39rem;
    overflow-y: auto;
  }
}

@media screen and (min-width: 64rem) {
  .branchOfferContainer {
    margin-left: 2.4rem;
    grid-column: 8 / -1;
    grid-row: 2;
    margin-bottom: 3.2rem;
  }
}

.branchOfferContainer::-webkit-scrollbar {
  width: 0.6rem;
}

.branchOfferContainer::-webkit-scrollbar-track {
  background: #c9d2f2;
  border-radius: 0.3rem;
}

.branchOfferContainer::-webkit-scrollbar-thumb {
  background-color: #50556d;
  border-radius: 0.3rem;
}

.branchOfferContainer::-webkit-scrollbar-thumb:hover {
  background-color: rgb(65, 69, 88);
}
