.navItemsDesktop {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.navItemsMobile {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  background: #21232d;
  top: 7.1rem;
  left: 150%;
  transform: translateX(-50%);
  width: 100%;
  padding: 2.4rem 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.navItemsVisible {
  opacity: 1;
  visibility: visible;
  animation: slideIn 0.5s ease forwards;
}

.navItemsHidden {
  opacity: 0;
  visibility: hidden;
  animation: slideOut 0.5s ease forwards;
}

.navItemsDisplayNone {
  display: none;
}

@keyframes slideIn {
  from {
    left: 150%;
  }
  to {
    left: 50%;
  }
}

@keyframes slideOut {
  from {
    left: 50%;
  }
  to {
    left: 150%;
  }
}
